/** -------------------------------------------
    About Box Component
    ------------------------------------------- **/

.about-box {
    position: relative;
}

.about-box {
    @include flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    margin-top: 25px;

    .box {
        @include flex(flex);        
        @include flex-wrap(wrap);
        @include flex-direction(column);
        @include align-items(center);
        position: relative;
        flex: 1;
        padding: 20px 20px 40px;
        margin-right: 10px;
        background: rgba(255,255,255,0.97);
        border: 1px solid #EFEFEF;
        box-shadow: 0 12px 20px 0 rgba(0,0,0,0.12);
        border-radius: 4px;
        
        &:last-child {
            margin: 0;
        }

        &-icon {
            font-size: 60px;
        }

        &-title {
            margin-bottom: 20px;
            font-size: 18px;
            color: $color-gray;
            font-weight: 500;
        }

        &-button {
            position: absolute;
            bottom: -20px;
        }
    }
}