<div class="about-box">
    <div class="box">
        <div class="box-icon">
            <i class="icon icon-emc"></i>
        </div>
        <div class="box-title">Eğitim Öğretim Kadromuz</div>

        <div class="box-content">
            Kendi alanlarında uzman ve deneyimli eğitim öğretim kadromuzla  başarıyı hedefliyor ve canla başla çalışıyoruz.
        </div>

        <div class="box-button">
            <a href="#" class="button secondary-action">Öğretmenlerimiz</a>
        </div>
    </div>

    <div class="box">
        <div class="box-icon">
            <i class="icon icon-kutuphane"></i>
        </div>

        <div class="box-title">Kütüphanemiz</div>

        <div class="box-content">
            Kitap z 2062’ye yükselterek öğrencilerimize kitap sevgisi aşıladık.
        </div>

        <div class="box-button">
            <a href="#" class="button secondary-action">Kitap Listemiz</a>
        </div>
    </div>

    <div class="box">
        <div class="box-icon">
            <i class="icon icon-sertifika"></i>
        </div>

        <div class="box-title">Başarı ve Sertifikalarımız</div>

        <div class="box-content">
            Geçtiğimiz yıllarda “Sağlıklı Okul, Temiz Okul” kampanyası ve “Beyaz Bayrak” projelerinde ödüllendirildik.
        </div>

        <div class="box-button">
            <a href="#" class="button secondary-action">Detaylar</a>
        </div>
    </div>

    <div class="box">
        <div class="box-icon">
            <i class="icon icon-ogrenci"></i>
        </div>

        <div class="box-title">Mezunlarımız</div>

        <div class="box-content">
            20 yılı aşkın süredir eğitim öğretim sürecimizde 300’den fazla mezun verdik.
        </div>

        <div class="box-button">
            <a href="#" class="button secondary-action">Mezunların Gözünden</a>
        </div>
    </div>
</div>

<script src="~/aboutbox.bundle.js"></script>