@font-face {
    font-family: 'alcev-font';
    src: url('../../fonts/alcev-font.eot');
    src: url('../../fonts/alcev-font.eot?#iefix') format('embedded-opentype'), url('../../fonts/alcev-font.woff2') format('woff2'), url('../../fonts/alcev-font.woff') format('woff'), url('../../fonts/alcev-font.ttf') format('truetype'), url('../../fonts/alcev-font.svg#alcev-font') format('svg');
    font-style: normal;
    font-weight: 400;
}

i[class*="icon-"] {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 'alcev-font';
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &:before {
        display: block;
    }
}

.icon-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.icon-2x {
    &:before {
        font-size: 2em;
    }
}

.icon-3x {
    &:before {
        font-size: 3em;
    }
}

.icon-4x {
    &:before {
        font-size: 4em;
    }
}

.icon-5x {
    &:before {
        font-size: 5em;
    }
}

.icon-fw {
    width: 1.28571429em;
    text-align: center;
}

.icon-alcev-logo::before {
    content: "\ea01";
}

.icon-chevron-double-right::before {
    content: "\ea02";
}

.icon-clock::before {
    content: "\ea03";
}

.icon-comments::before {
    content: "\ea04";
}

.icon-emc::before {
    content: "\ea05";
}

.icon-eposta::before {
    content: "\ea06";
}

.icon-kutuphane::before {
    content: "\ea07";
}

.icon-like::before {
    content: "\ea08";
}

.icon-like-bold::before {
    content: "\ea09";
}

.icon-ogrenci::before {
    content: "\ea0a";
}

.icon-pinned::before {
    content: "\ea0b";
}

.icon-quote-left::before {
    content: "\ea0c";
}

.icon-sertifika::before {
    content: "\ea0d";
}

.icon-share::before {
    content: "\ea0e";
}

.icon-telefon::before {
    content: "\ea0f";
}

.icon-user-man::before {
    content: "\ea10";
}