@{
    ViewData["Title"] = "Article Page";
}

<h2 class="page-title">
    <div class="container">
        İletişim
    </div>
</h1>

<div class="article-breadcumbs">
    <div class="container">
        Anasayfa > İletişim
    </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.556175831302!2d27.018075951254122!3d39.59215197936869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b0c825575ef171%3A0x1de15c6aa0f24289!2sAl%C3%A7ev+%C4%B0lkokulu+Ve+Ortaokulu!5e0!3m2!1str!2str!4v1536689187244" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<div class="container">
    <div class="contact-container">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <h5>İLETİŞİM FORMU</h5>
                <br>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adınız</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="İsminiz">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Eposta Adresiniz</label>
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Eposta">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Konu</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">İletiniz</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <button type="submit" class="button one-whole primary-action">Submit</button>
                </form>
            </div>
            <div class="offset-md-1 col-sm-12 col-md-5">
                <h5>İLETİŞİM</h5>
                <br>
                <ol>
                    <li>
                        <i class="icon icon-pinned"></i>
                        <p>Şahindere Mah. Lise Cad. No: 13 Altınoluk/Edremit/Balıkesir</p>
                    </li>
                    <li>
                        <i class="icon icon-telefon"></i>
                        <p>0 (266) 396 90 11</p>
                    </li>
                    <li>
                        <i class="icon icon-eposta"></i>
                        <p>info@alcev.k12.tr</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>