<footer class="footer">
    <div class="container">
        <div class="footer-head">
            <img class="alcev-logo" src="~/svg/alcev-logo.svg" alt="">
            <p>Özel Altınoluk Çağdaş Eğitim Vakfı <br />İlköğretim Kurumları</p>
        </div>

        <div class="footer-list">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5>İLETİŞİM</h5>
                    <ol>
                        <li>
                            <i class="icon icon-pinned"></i>
                            <p>Şahindere Mah. Lise Cad. No: 13 Altınoluk/Edremit/Balıkesir</p>
                        </li>
                        <li>
                            <i class="icon icon-telefon"></i>
                            <p>0 (266) 396 90 11</p>
                        </li>
                        <li>
                            <i class="icon icon-eposta"></i>
                            <p>info@alcev.k12.tr</p>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h5>ALÇEV</h5>
                    <ol>
                        <li><a href="#" class="footer-link">Akademik Takvim</a></li>
                        <li><a href="#" class="footer-link">Eğitim Modeli</a></li>
                        <li><a href="#" class="footer-link">Misyon ve Vizyonumuz</a></li>
                        <li><a href="#" class="footer-link">Okul Aile Birliği</a></li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h5>OKULDA YAŞAM</h5>
                    <ol>
                        <li><a href="#" class="footer-link">Bilişim ve Teknoloji</a></li>
                        <li><a href="#" class="footer-link">Kulüpler</a></li>
                        <li><a href="#" class="footer-link">Sanat ve Spor</a></li>
                        <li><a href="#" class="footer-link">Yemek Listesi</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            ALÇEV - 2018 - Her Hakkı Saklıdır.
        </div>
    </div>
</footer>
    <i class="icon icon-chevron-double-right"></i>
    <i class="icon icon-clock"></i>
    <i class="icon icon-comments"></i>
    <i class="icon icon-emc"></i>
    <i class="icon icon-kutuphane"></i>
    <i class="icon icon-like-bold"></i>
    <i class="icon icon-like"></i>
    <i class="icon icon-ogrenci"></i>
    <i class="icon icon-pinned"></i>
    <i class="icon icon-quote-left"></i>
    <i class="icon icon-sertifika"></i>
    <i class="icon icon-share"></i>
    <i class="icon icon-user-man"></i>