<header class="header">
    <div class="container header-container">
        <div class="head-name">
            <img class="alcev-logo" src="~/svg/alcev-logo.svg" alt="">
            <p>Özel Altınoluk Çağdaş Eğitim Vakfı <br />İlköğretim Kurumları</p>
        </div>

        <nav class="head-menu">
            <a class="head-menu-link" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
            <a class="head-menu-link" asp-area="" asp-controller="Events" asp-action="Index">Etkinlikler</a>
            <a class="head-menu-link" asp-area="" asp-controller="Announcement" asp-action="Index">Duyurular</a>
            <a class="head-menu-link"asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a>
        </nav>

        <a>Erhan</a>
    </nav>
</header>

