/** -------------------------------------------
    Colors
    ------------------------------------------- **/

$color-primary  : #56A4FF;
$color-secondary: #FF872F;
$color-tertiary : #4B4D5B;
$color-four     : #2E2F41;

$color-error    : #a94442;
$color-cancel   : $color-error;

$color-text     : #6B6B6B;

$color-gray       : #535252 !default; //e1e1e1
$color-dark-gray  : #a6a6a6 !default;
$color-light-gray : #eee !default;

$color-white    : #FFFFFF;
$color-black    : #000000;


$base-disabled-color           : #f4f4f4 !default;
$base-disabled-text-color      : $color-white !default;
$base-disabled-border          : #DDDDDD !default;

/**
* Border Colors
*/
$base-border-color      : $color-gray !default;
$base-border-highlight  : $color-gray !default;
$base-border-disabled   : $color-gray !default;
$base-border-readonly   : $color-gray !default;

/**
* Field Background Colors
*/
$base-field-background  : null !default;
$base-field-highlight   : $color-white !default;
$base-field-disabled    : $color-gray !default;

$named-colors: (
    info: $color-primary,
    success: #B0D2BC,
    warn: #FAFFBA,
    error: #AB433F,
    tooltip: #808c9e
);
 
/** -------------------------------------------
    Input Color Maps
    ------------------------------------------- **/

/**
* Default Input Color
*/
$input-default-bg           : $color-white !default;
$input-default-text         : $color-black !default;
$input-default-border       : transparent !default;
$input-default-border-hover : #666 !default;

/** -------------------------------------------
    Elements Color Maps
    ------------------------------------------- **/

/**
* Link Color
*/
$color-link             : #535252 !default;
$color-link-hover       : #535252 !default;
$color-link-active      : #535252 !default;

/**
* Checkbox & Radio Color
*/

$color-checkbox-checked         : $color-primary !default;
$color-checkbox-hover           : $color-primary !default;
$color-checkbox-toogle          : #e0f0fc !default;
$color-checkbox-radius          : #56b9ea !default;
$color-radio-checked            : $color-primary !default;
$color-radio-hover              : $color-primary !default;
 
    