/** -------------------------------------------
    Default class/definition names
    ------------------------------------------- **/

$namespace : null;

/* Text field lists */
$_text_fields: 'input[type="text"], input[type="credit card"], input[type="cvc"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]';
$_checkable_fields: 'input[type="checkbox"], input[type="radio"]';
$_media_fields: 'input[type="file"], input[type="image"]';
$_button_fields: 'input[type="submit"], input[type="reset"], input[type="button"]';

/* Class names for grid */
$row-name: 'row' !default;
$column-name: 'col' !default;
$grid-gutter-width: 30px !default;

/* Not actually a namespace but folder names also have different preferences */
$images : '/assets/images/' !default;
$retina-suffix: '@2x' !default;