/**
* Grid gutter and columns
*/

$base-gutter        : 20px;
$base-double-gutter : 2*$base-gutter;
$base-grid-columns	: 12 !default;
$base-float-widths	: true !default;
$base-responsive    : true !default;


/**
* Number to Name Conversions
*/

$numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 !default;

$ordinals: whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth !default;
$ordinals-name: one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen !default;
$ordinals-plural: whole half thirds quarters fifths sixths sevenths eighths ninths tenths elevenths twelfths !default;
