
$base-button-spacing: 5px !default;

/* Button names for action */
$action-button: '-action' !default;
$action-button-wrapper: '-actions' !default;

$primary-button: 'primary-action' !default;
$secondary-button: 'secondary-action' !default;
$tertiary-button: 'tertiary-action' !default;
$cancel-button: 'cancel-action' !default;

/**
 * Native button elements
 * Input button elements
 */
 button,
 input[type="submit"],
 input[type="reset"],
 input.button {
     @extend %button;
     border: transparent;
 }

 /**
 * Button element field
 */
 %button {
    @include app-transition();
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: (3 * $base-button-spacing) (8 * $base-button-spacing);
    line-height: normal;
    text-decoration: none;
    overflow: hidden;
    border-radius: $base-border-radius;
    outline:0;

    &:hover {
        text-decoration: none;
    }
}
 
 /**
  * Anchor and other elements
  */
 .button {
     @extend %button;
     text-align: center;
 
     &[readonly],
     &.readonly,
     &[disabled],
     &.disabled {
         cursor: default;
     }
 }
 
 /**
  * Action Buttons
  */
 
 .#{$primary-button} {
    color: $color-white;
    background-image: linear-gradient(45deg, #FFBC5C 0%, #FF872F 100%);
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.12);
    border-radius: $base-border-radius;

    &:hover {
        color: $color-white;
        background-image: linear-gradient(-45deg, #FFBC5C 0, #FF872F 100%);
    }
 }
 
 .#{$secondary-button} {
    color: $color-secondary;
    background: $color-white;
    box-shadow: 0 12px 20px 0 rgba(255,135,47,0.12);
    border-radius: $base-border-radius;
    border: 1px solid $color-secondary;

    &:hover {
        color: $color-white;
        background: $color-secondary;
    }
 }
 
 .#{$tertiary-button} {
    color: $color-white;
    background: #999999;
    border-radius: $base-border-radius;
    border: 1px solid #999999;

    &:hover {
        color: $color-white;
        background: #808080;
    }
 }
 
 .#{$cancel-button},
 input[type="reset"] {}
 