/** -------------------------------------------
    Link & Nav Styles
    ------------------------------------------- **/
/**
 * Links
 */
 a {
    display: inline-block;
    padding: 0;
    color: $color-link;
    text-decoration: none;
    cursor: pointer;
    outline: 0;

    nav & { text-decoration: none; }

    &.disabled {
        pointer-events: none;
        cursor: default;
    }

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

/**
 * Nav
 */
nav {
    // reset unordered lists in navigation
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}