<div id="carouselExampleControls" class="carousel headline-carousel slide" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/headline.png" alt="Headline" class="img-responsive" />
            <span class="slide-button">
                <a href="#" class="button primary-action">Ön Kayıt Formu</a>
                <a href="#" class="button secondary-action">secondary</a>
                <a href="#" class="button tertiary-action">tertiary</a>
            </span>
        </div> 
        <div class="carousel-item">
            <img src="~/images/headline.png" alt="Headline" class="img-responsive" />
        </div>
        <div class="carousel-item">
            <img src="~/images/headline.png" alt="Headline" class="img-responsive" />
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<script src="~/headline.bundle.js"></script>