@{
    ViewData["Title"] = "Article Page";
}

<h2 class="page-title">
    <div class="container">
        Atatürk'ün Hayatı
    </div>
</h1>

<div class="article-breadcumbs">
    <div class="container">
        Anasayfa > Eğitim Modeli
    </div>
</div>

<div class="container">
    <div class="article-container">
        <div class="article-photo">
            <img class="circle-image" src="~/images/ataturk.png" alt="">
        </div>
        

        <div class="article-content">
            <div class="content-layer">
                <h5>Atatürk'ün Ailesi</h5>
                <p>
                    Kurtuluş Savaşı’mızın z ve Türkiye Cumhuriyetinin kurucusu Gazi Mustafa Kemal Atatürk, 1881 yılında Selânik’te Kocakasım Mahallesi, Islâhhâne Caddesindeki üç katlı pembe bir evde doğdu. Babası Selanik ilkokulu öğretmenlerinden Kırmızı Hafız sanıyla anılan Ahmet Efendi’nin oğlu Ali Rıza Efendi, annesi Sarıgüllü Hacı Sofu ailesinden Feyzullah Efendi’nin kızı Zübeyde Hanım’dır.
                    <br><br>
                    Ali Rıza Efendi Selanik Evkaf katipliğinde ve gümrük memurluğunda bulunmuş, 1871 yılında Zübeyde Hanım’la evlenmiştir. 1876’da Selanik Asâkir-i Milliye taburunda birinci mülazım olarak görev alan Ali Rıza Efendi daha sonra kerestecilik ile uğraşarak serbest ticaret yapmıştır. Atatürk’ün beş kardeşinden dördü küçük yaşlarda ölmüş, sadece Makbule Hanım (Atadan) 1956 yılına kadar yaşamıştır.
                </p>
            </div>

            <div class="content-layer">
                <h5>Atatürk'ün Ailesi</h5>
                <p>
                    Kurtuluş Savaşı’mızın z ve Türkiye Cumhuriyetinin kurucusu Gazi Mustafa Kemal Atatürk, 1881 yılında Selânik’te Kocakasım Mahallesi, Islâhhâne Caddesindeki üç katlı pembe bir evde doğdu. Babası Selanik ilkokulu öğretmenlerinden Kırmızı Hafız sanıyla anılan Ahmet Efendi’nin oğlu Ali Rıza Efendi, annesi Sarıgüllü Hacı Sofu ailesinden Feyzullah Efendi’nin kızı Zübeyde Hanım’dır.
                    <br><br>
                    Ali Rıza Efendi Selanik Evkaf katipliğinde ve gümrük memurluğunda bulunmuş, 1871 yılında Zübeyde Hanım’la evlenmiştir. 1876’da Selanik Asâkir-i Milliye taburunda birinci mülazım olarak görev alan Ali Rıza Efendi daha sonra kerestecilik ile uğraşarak serbest ticaret yapmıştır. Atatürk’ün beş kardeşinden dördü küçük yaşlarda ölmüş, sadece Makbule Hanım (Atadan) 1956 yılına kadar yaşamıştır.
                </p>
            </div>

            <div class="content-layer">
                <h5>Atatürk'ün Ailesi</h5>
                <p>
                    Kurtuluş Savaşı’mızın z ve Türkiye Cumhuriyetinin kurucusu Gazi Mustafa Kemal Atatürk, 1881 yılında Selânik’te Kocakasım Mahallesi, Islâhhâne Caddesindeki üç katlı pembe bir evde doğdu. Babası Selanik ilkokulu öğretmenlerinden Kırmızı Hafız sanıyla anılan Ahmet Efendi’nin oğlu Ali Rıza Efendi, annesi Sarıgüllü Hacı Sofu ailesinden Feyzullah Efendi’nin kızı Zübeyde Hanım’dır.
                    <br><br>
                    Ali Rıza Efendi Selanik Evkaf katipliğinde ve gümrük memurluğunda bulunmuş, 1871 yılında Zübeyde Hanım’la evlenmiştir. 1876’da Selanik Asâkir-i Milliye taburunda birinci mülazım olarak görev alan Ali Rıza Efendi daha sonra kerestecilik ile uğraşarak serbest ticaret yapmıştır. Atatürk’ün beş kardeşinden dördü küçük yaşlarda ölmüş, sadece Makbule Hanım (Atadan) 1956 yılına kadar yaşamıştır.
                </p>
            </div>

            <div class="content-layer">
                <h5>Atatürk'ün Ailesi</h5>
                <p>
                    Kurtuluş Savaşı’mızın z ve Türkiye Cumhuriyetinin kurucusu Gazi Mustafa Kemal Atatürk, 1881 yılında Selânik’te Kocakasım Mahallesi, Islâhhâne Caddesindeki üç katlı pembe bir evde doğdu. Babası Selanik ilkokulu öğretmenlerinden Kırmızı Hafız sanıyla anılan Ahmet Efendi’nin oğlu Ali Rıza Efendi, annesi Sarıgüllü Hacı Sofu ailesinden Feyzullah Efendi’nin kızı Zübeyde Hanım’dır.
                    <br><br>
                    Ali Rıza Efendi Selanik Evkaf katipliğinde ve gümrük memurluğunda bulunmuş, 1871 yılında Zübeyde Hanım’la evlenmiştir. 1876’da Selanik Asâkir-i Milliye taburunda birinci mülazım olarak görev alan Ali Rıza Efendi daha sonra kerestecilik ile uğraşarak serbest ticaret yapmıştır. Atatürk’ün beş kardeşinden dördü küçük yaşlarda ölmüş, sadece Makbule Hanım (Atadan) 1956 yılına kadar yaşamıştır.
                </p>
            </div>

            <div class="content-layer">
                <h5>Atatürk'ün Ailesi</h5>
                <p>
                    Kurtuluş Savaşı’mızın z ve Türkiye Cumhuriyetinin kurucusu Gazi Mustafa Kemal Atatürk, 1881 yılında Selânik’te Kocakasım Mahallesi, Islâhhâne Caddesindeki üç katlı pembe bir evde doğdu. Babası Selanik ilkokulu öğretmenlerinden Kırmızı Hafız sanıyla anılan Ahmet Efendi’nin oğlu Ali Rıza Efendi, annesi Sarıgüllü Hacı Sofu ailesinden Feyzullah Efendi’nin kızı Zübeyde Hanım’dır.
                    <br><br>
                    Ali Rıza Efendi Selanik Evkaf katipliğinde ve gümrük memurluğunda bulunmuş, 1871 yılında Zübeyde Hanım’la evlenmiştir. 1876’da Selanik Asâkir-i Milliye taburunda birinci mülazım olarak görev alan Ali Rıza Efendi daha sonra kerestecilik ile uğraşarak serbest ticaret yapmıştır. Atatürk’ün beş kardeşinden dördü küçük yaşlarda ölmüş, sadece Makbule Hanım (Atadan) 1956 yılına kadar yaşamıştır.
                </p>
            </div>

            <div class="content-layer">
                <h5>Atatürk'ün Ailesi</h5>
                <p>
                    Kurtuluş Savaşı’mızın z ve Türkiye Cumhuriyetinin kurucusu Gazi Mustafa Kemal Atatürk, 1881 yılında Selânik’te Kocakasım Mahallesi, Islâhhâne Caddesindeki üç katlı pembe bir evde doğdu. Babası Selanik ilkokulu öğretmenlerinden Kırmızı Hafız sanıyla anılan Ahmet Efendi’nin oğlu Ali Rıza Efendi, annesi Sarıgüllü Hacı Sofu ailesinden Feyzullah Efendi’nin kızı Zübeyde Hanım’dır.
                    <br><br>
                    Ali Rıza Efendi Selanik Evkaf katipliğinde ve gümrük memurluğunda bulunmuş, 1871 yılında Zübeyde Hanım’la evlenmiştir. 1876’da Selanik Asâkir-i Milliye taburunda birinci mülazım olarak görev alan Ali Rıza Efendi daha sonra kerestecilik ile uğraşarak serbest ticaret yapmıştır. Atatürk’ün beş kardeşinden dördü küçük yaşlarda ölmüş, sadece Makbule Hanım (Atadan) 1956 yılına kadar yaşamıştır.
                </p>
            </div>
        </div>
    </div>
</div>