
<div class="announcement-slider">
    <div class="swiper-container announcement-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="announcement-box">
                    <div class="box-photos">
                        <img src="~/images/announcument.png" alt="announcument">
                    </div>
                    <div class="box-container">
                        <h4 class="box-title">
                            2017-2018 Yılı 8. Sınıflar Akademik Kurs
                            <span class="date">21.07.2018</span>
                        </h4>
                        <div class="box-content">
                            2017-2018 Eğitim-öğretim yılı yaz dönemi 8.sınıflar akademik kurs  olacaktır.Detaylı bilgi ve kayıt için okulumuzu arayabilirsiniz.
                        </div>

                        <div class="box-more">
                            <a href="">Devamını Oku <i class="icon icon-chevron-double-right"></i></a>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="bottom-like">
                            <i class="icon icon-like"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-comment">
                            <i class="icon icon-comments"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-share">
                            <i class="icon icon-share"></i>
                            <span class="count">Paylaş</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="announcement-box">
                    <div class="box-photos">
                        <img src="~/images/announcument1.png" alt="announcument">
                    </div>
                    <div class="box-container">
                        <h4 class="box-title">
                            2017-2018 Yılı 8. Sınıflar Akademik Kurs
                            <span class="date">21.07.2018</span>
                        </h4>
                        <div class="box-content">
                            2017-2018 Eğitim-öğretim yılı yaz dönemi 8.sınıflar akademik kurs  olacaktır.Detaylı bilgi ve kayıt için okulumuzu arayabilirsiniz.
                        </div>

                        <div class="box-more">
                            <a href="">Devamını Oku <i class="icon icon-chevron-double-right"></i></a>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="bottom-like">
                            <i class="icon icon-like"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-comment">
                            <i class="icon icon-comments"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-share">
                            <i class="icon icon-share"></i>
                            <span class="count">Paylaş</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="announcement-box">
                    <div class="box-photos">
                        <img src="~/images/announcument2.png" alt="announcument">
                    </div>
                    <div class="box-container">
                        <h4 class="box-title">
                            2017-2018 Yılı 8. Sınıflar Akademik Kurs
                            <span class="date">21.07.2018</span>
                        </h4>
                        <div class="box-content">
                            2017-2018 Eğitim-öğretim yılı yaz dönemi 8.sınıflar akademik kurs  olacaktır.Detaylı bilgi ve kayıt için okulumuzu arayabilirsiniz.
                        </div>

                        <div class="box-more">
                            <a href="">Devamını Oku <i class="icon icon-chevron-double-right"></i></a>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="bottom-like">
                            <i class="icon icon-like"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-comment">
                            <i class="icon icon-comments"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-share">
                            <i class="icon icon-share"></i>
                            <span class="count">Paylaş</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="announcement-box">
                    <div class="box-photos">
                        <img src="~/images/announcument.png" alt="announcument">
                    </div>
                    <div class="box-container">
                        <h4 class="box-title">
                            2017-2018 Yılı 8. Sınıflar Akademik Kurs
                            <span class="date">21.07.2018</span>
                        </h4>
                        <div class="box-content">
                            2017-2018 Eğitim-öğretim yılı yaz dönemi 8.sınıflar akademik kurs  olacaktır.Detaylı bilgi ve kayıt için okulumuzu arayabilirsiniz.
                        </div>

                        <div class="box-more">
                            <a href="">Devamını Oku <i class="icon icon-chevron-double-right"></i></a>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="bottom-like">
                            <i class="icon icon-like"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-comment">
                            <i class="icon icon-comments"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-share">
                            <i class="icon icon-share"></i>
                            <span class="count">Paylaş</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="announcement-box">
                    <div class="box-photos">
                        <img src="~/images/announcument1.png" alt="announcument">
                    </div>
                    <div class="box-container">
                        <h4 class="box-title">
                            2017-2018 Yılı 8. Sınıflar Akademik Kurs
                            <span class="date">21.07.2018</span>
                        </h4>
                        <div class="box-content">
                            2017-2018 Eğitim-öğretim yılı yaz dönemi 8.sınıflar akademik kurs  olacaktır.Detaylı bilgi ve kayıt için okulumuzu arayabilirsiniz.
                        </div>

                        <div class="box-more">
                            <a href="">Devamını Oku <i class="icon icon-chevron-double-right"></i></a>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="bottom-like">
                            <i class="icon icon-like"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-comment">
                            <i class="icon icon-comments"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-share">
                            <i class="icon icon-share"></i>
                            <span class="count">Paylaş</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="announcement-box">
                    <div class="box-photos">
                        <img src="~/images/announcument2.png" alt="announcument">
                    </div>
                    <div class="box-container">
                        <h4 class="box-title">
                            2017-2018 Yılı 8. Sınıflar Akademik Kurs
                            <span class="date">21.07.2018</span>
                        </h4>
                        <div class="box-content">
                            2017-2018 Eğitim-öğretim yılı yaz dönemi 8.sınıflar akademik kurs  olacaktır.Detaylı bilgi ve kayıt için okulumuzu arayabilirsiniz.
                        </div>

                        <div class="box-more">
                            <a href="">Devamını Oku <i class="icon icon-chevron-double-right"></i></a>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="bottom-like">
                            <i class="icon icon-like"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-comment">
                            <i class="icon icon-comments"></i>
                            <span class="count">3</span>
                        </div>
                        <div class="bottom-share">
                            <i class="icon icon-share"></i>
                            <span class="count">Paylaş</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<script src="~/announcement.bundle.js"></script>
