/** -------------------------------------------
    Helper Definitions
    ------------------------------------------- **/
/**
 * Input element field
 */
%text-field {
    @include app-transition();
    outline: 0;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    background: $base-field-background;
    color: #2e2f41;

    font: {
        size: 14px;
        weight: normal;
    }

    @if($base-field-border-radius != null){
        border-radius: $base-field-border-radius;
    }

    &[readonly],
    &.readonly {
        color: $color-gray;
        cursor: default;
        border-color: $base-border-readonly;
    }

    &[disabled],
    &.disabled {
        color: $base-disabled-text-color;
        background: $base-disabled-color;
        border-color: $base-disabled-border;
        cursor: default;
    }

    .item-select & {
        padding: 14px 10px;
        border-radius: 0;
    }

    &::-webkit-input-placeholder { color:#B2B4B6; }
    &:-moz-placeholder { color:#B2B4B6; } /* FF 4-18 */
    &::-moz-placeholder { color:#B2B4B6; } /* FF 19+ */
    &:-ms-input-placeholder { color:#B2B4B6; } /* IE 10+ */
}

/**
 * Hard reset for an element
 */
 %reset {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    list-style: none;
}


/**
 * Vertical Center
 */
%vertical {
    position: absolute !important;
    top: 50%;
    margin-top: -.5em;
}


/**
 * Horizontal Center
 */
%horizontal {
    position: absolute !important;
    left: 50%;
    margin-left: -.5em;
}

/**
 * Center Alignment
 */
%center {
    display: block;
    margin: 0 auto;
}