<div class="studentclub-slider">
    <div class="swiper-container studentclub-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 1</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 2</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 3</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 4</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 5</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 6</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 7</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="club-photo">
                    <img src="images/studentclub.png" alt="">
                </div>
                <div class="club-content">
                    <p>Fotoğraf Klubü 8</p>
                    <a href="#" class="club-button">Detaylar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/studentclub.bundle.js"></script>
