
<div class="video-slider">
    <div class="swiper-container video-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="video-container" data-id="LAQDcnwwspQ">
                    <div class="video-iframe"></div>
                    <div class="video-play"></div>
                </div>
                <div class="video-poster">
                    <div class="row">
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="video-container" data-id="LAQDcnwwspQ">
                    <div class="video-iframe"></div>
                    <div class="video-play"></div>
                </div>
                <div class="video-poster">
                    <div class="row">
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                        <div class="poster col-sm-6">
                            <img src="images/studentclub.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<script src="https://www.youtube.com/player_api?enablejsapi=1"></script>
<script src="~/announcementvideo.bundle.js"></script>
