/** -------------------------------------------
    Header
	------------------------------------------- **/

.header {
    will-change: transform;
    padding: 20px 0;
    background-color: $color-white;

    &-router {
        @include display-flex();
        @include align-items(center);
        @include justify-content(flex-end);

        .router-link {
            margin: 0 15px;
            color: #535252;
            font-size: 18px;

            &:hover,
            &.router-link-exact-active.router-link-active {
                color: $color-link;
            }

            &.head-menu-link {
                background: transparent;
                padding: 0;
                outline: none;
            }
        }
    }

    &.header-fixed {
        position: fixed;
        z-index: 2;
        width: 100%;
        background: transparent;

        .router-link {
            color: $color-white;
            
            &:hover,
            &.router-link-exact-active.router-link-active {
                color: $color-white;
            }
        }
    } 

    &.scroll-fixed {
        position: fixed;
        z-index: 2;
        width: 100%;
    }  
}

.header-menu-modal {
    color: $color-white;
    background-color: rgba(0,0,0,.75);

    .close {
        position: absolute;
        right: 10%;
        top: 10%;
        text-shadow: none;
        color: #fff;
        opacity: 1;
        font-weight: 300;
        z-index: 2;

        &:hover,
        &:focus {
            color: #fff !important;
        }
    }

    .modal-dialog {
        max-width: 100%;
        margin: 1.2rem auto;

        .modal-content {
            background-color: transparent;

            .nav {
                border-right: 1px solid $color-white;
                padding-right: 10px;

                a { color: $color-white; }
            }

            .tab-content {
                a { 
                    display: block;
                    margin-bottom: 25px;
                    color: $color-white; 
                }
            }

            h4 {
                font-weight: 500;
                color: $color-white;
            }
        
            ol {
                list-style: none;
                font-weight: 300;
        
                > li {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: .5em;
        
                    .icon {
                        display: inline-block;
                        position: relative;
                        top: 5px;
                        width: 20px;
                        text-align: center;
                        vertical-align: top;
                    }
        
                    > p {
                        display: inline-block;
                        width: calc(100% - (20% - 10px));
                        margin-left: 10px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
