/** -------------------------------------------
    Feedback Box Components
    ------------------------------------------- **/

.feedback-box {
    padding: 30px;
    background: $color-white;
    border: 1px solid #EFEFEF;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    font-size: 18px;
    color: #696969;
    font-weight: 300;

    .feedback-user {
        @include flex-wrap(wrap);
        @include flex-direction(row);
        @include align-items(center);
        display: inline-flex;
        width: 100%;
        margin-top: 40px;
        color: #999999;
        font-weight: 400;

        .icon {
            color: #EFEFEF;
        }
        
        .userinfo {
            margin-left: 10px;

            .user-title {
                display: block;
                color: #B9B8B8;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}