.announcement-container {
    position: relative;
}

.events-container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    background: url("/images/event-bg.png") 0 0 repeat, linear-gradient(45deg, #1E6CEF 0%, #42A5F8 100%);

    .event-box {
        margin-bottom: 10px;

        &:last-child { margin: 0; }
    }

    .event-button {
        float: right;
        margin-top: 20px;
    }
}

.studentclub-container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 0;

    .studentclub-button {
        float: right;
        margin-top: 20px;
    }
}

.feedback-container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(45deg, #FFBC5C 0%, #FF872F 100%);

    > .container {
        column-count: 3;
        column-gap: 15px;

        .feedback-box {
            display: inline-block;
            margin: 0 2px 15px;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}