<div class="schools-box">

    <a class="box pre-school">
        <img class="box-bg" src="~/images/anaokulu.png" alt="anaokulu" class="img-responsive" />
        <div class="box-content">
            ALÇEV
            <p>ANAOKULU</p>
        </div>
    </a>

    <a class="box grade-school">
        <img class="box-bg" src="~/images/ilkokul.png" alt="ilkokul" class="img-responsive" />
         <div class="box-content">
            ALÇEV
            <p>İLKOKULU</p>
        </div>
    </a>

    <a class="box middle-school">
        <img class="box-bg" src="~/images/ortaokul.png" alt="ortaokul" class="img-responsive" />
        <div class="box-content">
            ALÇEV
            <p>ORTAOKULU</p>
        </div>
    </a>
</div>

<script src="~/schools.bundle.js"></script>