/** -------------------------------------------
    Lists
    ------------------------------------------- **/
ol, ul {
    list-style-position : inside;
    position: relative;

    li {
        position      : relative;
        display       : inline-block;
        margin-bottom : 1em;

        &:last-child { margin-bottom: 0; }
    }

    &.arrow {
        list-style: none;
        padding-left: 20px;

        li {
            width: 100%;
            margin-bottom: .5em;

            &:before{
                @include dims(8px);
                content: '';
                position: absolute;
                border-right:1px solid black;
                border-bottom:1px solid black;
                top: calc(50% - 1px);
                left: -20px;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
}

dl {
    padding-left: $base-gutter;

    dt {
        font-weight: bold;
    }
}