/** -------------------------------------------
    Texts
    ------------------------------------------- **/

.m-t-0{ margin-top: 0px; }
.m-t-10{ margin-top: 10px; }
.m-t-20{ margin-top: 20px; }
.m-t-30{ margin-top: 30px; }
.m-t-40{ margin-top: 40px; }
.m-t-60{ margin-top: 60px; }
.m-b-10{ margin-bottom: 10px; }
.m-b-20{ margin-bottom: 20px; }

.color-primary { color: $color-primary; }
.color-secondary { color: $color-secondary; }
.color-tertiary { color: $color-tertiary; }
.color-four { color: $color-four; }
.color-error { color: $color-error; }
.color-green { color: #83AF9B; }