<div class="event-box">
    <div class="box-date">
        <div class="date-border">
            <span class="day">01</span>
            <span class="mounth">Mayıs 2018</span>
        </div>
    </div>

        <div class="box-container">
        <div class="box-head">
            <h5>Resim Yarışmasında Türkiye 1.si Olduk</h4> 
            <div class="time-pin">
                <span class="clock">
                    <i class="icon icon-clock"></i>
                    08:30 - 17:00
                </span>
                
                <span class="pinned">
                    <i class="icon icon-pinned"></i>
                    Ankara
                </span>
            </div>
        </div>
        <div class="box-content">
            Ankara özel okul öncülüğünde Türkiye genelinde düzenlenen 6. Geleneksel ” Geleceği Gören Dürbünün Olsa ” konulu resim yarışmasında Alçev 4-A sınıfı öğrencimiz Zeynep YANIK; Türkiye 1.si olmuştur. 2-B sınıfı öğrencimiz İrem Nur AYDIN jüri özel ödülü, 2-B sınıfı öğrencimiz Ela İz ÖZDEMİR ve 3-B sınıfı öğrencimiz Egemen Ulus KARA sergileme ödülü kazanmıştır. Öğrencilerimizi yürekten kutluyor, başarılarının devamını diliyoruz.
        </div>
    </div>

    <div class="box-photos">
        <img src="/images/events-photo.png" alt="">
    </div>
</div>

<div class="event-box">
    <div class="box-date">
        <div class="date-border">
            <span class="day">01</span>
            <span class="mounth">Mayıs 2018</span>
        </div>
    </div>

        <div class="box-container">
        <div class="box-head">
            <h5>Resim Yarışmasında Türkiye 1.si Olduk</h4> 
            <div class="time-pin">
                <span class="clock">
                    <i class="icon icon-clock"></i>
                    08:30 - 17:00
                </span>
                
                <span class="pinned">
                    <i class="icon icon-pinned"></i>
                    Ankara
                </span>
            </div>
        </div>
        <div class="box-content">
            Ankara özel okul öncülüğünde Türkiye genelinde düzenlenen 6. Geleneksel ” Geleceği Gören Dürbünün Olsa ” konulu resim yarışmasında Alçev 4-A sınıfı öğrencimiz Zeynep YANIK; Türkiye 1.si olmuştur. 2-B sınıfı öğrencimiz İrem Nur AYDIN jüri özel ödülü, 2-B sınıfı öğrencimiz Ela İz ÖZDEMİR ve 3-B sınıfı öğrencimiz Egemen Ulus KARA sergileme ödülü kazanmıştır. Öğrencilerimizi yürekten kutluyor, başarılarının devamını diliyoruz.
        </div>
    </div>

    <div class="box-photos">
        <img src="/images/events-photo.png" alt="">
    </div>
</div>

<div class="event-box">
    <div class="box-date">
        <div class="date-border">
            <span class="day">01</span>
            <span class="mounth">Mayıs 2018</span>
        </div>
    </div>

        <div class="box-container">
        <div class="box-head">
            <h5>Resim Yarışmasında Türkiye 1.si Olduk</h4> 
            <div class="time-pin">
                <span class="clock">
                    <i class="icon icon-clock"></i>
                    08:30 - 17:00
                </span>
                
                <span class="pinned">
                    <i class="icon icon-pinned"></i>
                    Ankara
                </span>
            </div>
        </div>
        <div class="box-content">
            Ankara özel okul öncülüğünde Türkiye genelinde düzenlenen 6. Geleneksel ” Geleceği Gören Dürbünün Olsa ” konulu resim yarışmasında Alçev 4-A sınıfı öğrencimiz Zeynep YANIK; Türkiye 1.si olmuştur. 2-B sınıfı öğrencimiz İrem Nur AYDIN jüri özel ödülü, 2-B sınıfı öğrencimiz Ela İz ÖZDEMİR ve 3-B sınıfı öğrencimiz Egemen Ulus KARA sergileme ödülü kazanmıştır. Öğrencilerimizi yürekten kutluyor, başarılarının devamını diliyoruz.
        </div>
    </div>

    <div class="box-photos">
        <img src="/images/events-photo.png" alt="">
    </div>
</div>

<script src="~/events.bundle.js"></script>
